.App {
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: grey !important;
}

.card {
  width: 100%;
}

/* .row-direction {
  display: flex;
} */
/* 
.text-center {
  line-height: 40px;
}

.aling-center {
  align-items: center;
} */